.resultsContainer {
  background-image: url("../../assets/images/results-women.svg");
  background-repeat: no-repeat;
  background-position: 724px 25px;
}

.underTitle {
  font-size: 20px;
  line-height: 24px;
  margin-top: 36px;
}

.resultsTitle {
  font-family: "Ferry";
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.optionsFound {
  font-size: 18px;
  line-height: 22px;
  color: #949494;
  margin-top: 17px;
}

@media (max-width: 1319px) {
  .resultsContainer {
    background-position: left 230px;
    background-size: auto 220px;
  }

  .underTitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 21px;
  }

  .resultsTitle {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.02em;
  }

  .optionsFound {
    margin-top: 10px;
  }
}