.publicationCard {
    width: 581px;
    padding: 19px 30px 35px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #00000033;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
    height: max-content;
}

.cardHead {
    height: 40px;
}

.date {
    color: #949494;
}

.source {
    color: #949494;
    margin-left: 14px;
    text-decoration: none;
    border-bottom: 1px solid #949494;
}

.title {
    max-width: 546px;
    height: 93px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}

.tags {
    display: flex;
    margin-top: 14px;
    height: 23px;
}

.tag {
    font-size: 12px;
    line-height: 15px;
    padding: 4px 14px;
    background: #FFB64F;
    border-radius: 5px;
}

.image {
    width: 100%;
    margin-top: 14px;
    height: 158px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contentText {
    opacity: 0.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 95px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.sourceBtn {
    outline: none;
    border: none;
    background-color: #7CE3E1;
    border-radius: 5px;
    padding: 14px 30px;
    cursor: pointer;
}

.wordCount {
    color: #949494;
    align-self: flex-end;
}

@media (max-width: 1319px) {
    .publicationCard {
        width: 297px;
        padding: 19px;
        font-size: 12px;
        line-height: 15px;
    }

    .cardHead {
        height: max-content;
    }

    .title {
        height: max-content;
        margin-top: 24px;
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
    }

    .contentText {
        opacity: 0.5;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        height: 75px;
    }

    .cardFooter {
        margin-top: 25px;
        font-size: 14px;
        line-height: 17px;
    }

    .tags {
        height: max-content;
    }
}