.footer {
    background-color: #029491;
    height: 137px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 199px;
    gap: 21px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
}

.copy {
    font-size: 12px;
    line-height: 15px;
}

.contacts,
.copy {
    color: #fff;
}