.searchContainer {
    background-image: url(../../assets/images/document.svg), url(../../assets//images/folders.svg), url(../../assets/images/rocket.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 878px 132px, 1135px 150px, 928px bottom;
}

.underTitle {
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
    max-width: 534px;
    word-wrap: break-word;
}

@media (max-width: 1319px) {
    .searchContainer {
        background-image: none;
    }
    
    .underTitle {
        font-size: 18px;
        line-height: 22px;
        padding-top: 19px;
    }
}